.button
	color: white
	cursor: pointer
	padding: 10px 20px
	margin: 3px
	position: relative
	background: #D9D9D9
	color: #474747
	font-size: $text-default-s
	// border: 2px solid white
	border: none
	border-radius: 5px
	text-decoration: none
	display: inline-block
	@include transition-duration(0.1s)
	&:hover
		// border-color: 3px solid black
		background: white
		color: #474747
		text-decoration: none
		@include box-shadow(0 0 5px rgba(0,0,0,0.5))
	&:active,
	&:focus
		outline: 0

.button-clear
	background: rgba(0,0,0,0)
.button.inv
	color: #FFFFFF
.button-border
	border: 2px solid #C7C7C7

.button-sm
	padding: 7px 12px
	font-size: 8pt
	min-width: 40px
.button-lg
	padding: 13px 28px
	font-size: 14pt
.button-block
	padding-left: 0
	padding-right: 0
	width: 100%
	text-align: center

.button-primary
	color: white
	background: $primary-color
	border-color: $primary-color
	&:hover
		color: $primary-color

.button-info
	color: white
	background: $info-color
	border-color: $info-color
	&:hover
		color: $info-color

.button-success
	color: white
	background: $success-color
	border-color: $success-color
	&:hover
		color: $success-color

.button-warning
	color: white
	background: $warning-color
	border-color: $warning-color
	&:hover
		color: $warning-color

.button-danger
	color: white
	background: $danger-color
	border-color: $danger-color
	&:hover
		color: $danger-color