footer
	position: relative
	font-size: 8pt

footer.navbar
	background: white

footer.navbar > div
	padding-top: 25px
	padding-bottom: 30px

footer.navbar .navlink
	color: #757575
	font-size: 7pt
	
footer .navbar-right
	width: 40%

footer.navbar .navlink:hover
	color: black
	
@media only screen and (max-width: $tablet)
	footer.navbar
		position: static
		display: block
		
	footer .main
		display: none
		
	footer .navbar-right
		display: block
		width: 100%
		text-align: center