.form
	padding: 0
	width: 100%
.form-input
	background: white
	// border: $border-width $border-style $border-color
	@include box-shadow(0 0 1px rgba(0,0,0,0.4))
	padding: 10px 10px
	margin-bottom: 10px
	border-radius: 5px
	input
		background: transparent
		color: black
		font-size: $text-default-s
		border: none
		width: 100%
	select
		font-size: $text-default-s
		background: transparent
		border: none
		width: 100%

.form.align-right .form-label
	text-align: right
	padding-right: 10px

.form-group
	margin: 10px 0

.form-label, .form-content
	display: inline-block
	margin-right: -4px
	margin-bottom: -5px
	vertical-align: middle

.form-label
	color: $faded-text-color
	min-width: 90px
	width: 10%
	padding: 5px 0

.form-content
	width: 60%