.outer
	display: table
	position: absolute
	width: 100%
	height: 100%
.middle
	display: table-cell
	vertical-align: middle
.inner
	margin-left: auto
	margin-right: auto
	
.form-control
	position: relative
	width: 100%
	display: block

.container
	position: relative
	padding-left: $container-left-padding
	padding-right: $container-right-padding
	padding-top: $container-top-padding
	padding-bottom: $container-bottom-padding

.section
	position: relative
	padding-left: $section-left-padding
	padding-right: $section-right-padding
	padding-top: $section-top-padding
	padding-bottom: $section-bottom-padding

.row
	padding-top: $row-top-padding
	padding-bottom: $row-bottom-padding
	display: block
	position: relative

.center
	margin: 0 auto
	position: relative

.float-left
	float: left
.float-right
	float: right

.skew-bottom
	@include skew(0 0, 100% 0, 100% 100%, 0 80%)
.skew-top
	@include skew(0 0, 100% 20%, 100% 100%, 0 100%)
.skew
	@include skew(0 0, 100% 20%, 100% 100%, 0 80%)

.border
	border: $border-width $border-style $border-color
.border-top
	border-top: $border-width $border-style $border-color
.border-bottom
	border-bottom: $border-width $border-style $border-color
.border-left
	border-left: $border-width $border-style $border-color
.border-right
	border-right: $border-width $border-style $border-color
.border-none
	border: none
.border-top-none
	border-top: none
.border-bottom-none
	border-bottom: none
.border-left-none
	border-left: none
.border-right-none
	border-right: none

.padding
	padding: $padding-top $padding-right $padding-bottom $padding-left
.padding-top
	padding-top: $padding-top
.padding-bottom
	padding-bottom: $padding-bottom
.padding-left
	padding-left: $padding-left
.padding-right
	padding-right: $padding-right
.padding-none
	padding: 0
.padding-top-none
	padding-top: 0
.padding-bottom-none
	padding-bottom: 0
.padding-left-none
	padding-left: 0
.padding-right-none
	padding-right: 0
	
.margin
	margin: $margin-top $margin-right $margin-bottom $margin-left
.margin-top
	margin-top: $margin-top
.margin-bottom
	margin-bottom: $margin-bottom
.margin-left
	margin-left: $margin-left
.margin-right
	margin-right: $margin-right
.margin-none
	margin: 0
.margin-top-none
	margin-top: 0
.margin-bottom-none
	margin-bottom: 0
.margin-left-none
	margin-left: 0
.margin-right-none
	margin-right: 0
	
.scroll-y
	overflow-y: auto
.scroll-x
	overflow-x: auto
	
.col,
.col-no-resp
	position: relative
	@include inline-block()

.col-align-top
	vertical-align: top
.col-align-middle
	vertical-align: middle
.col-align-bottom
	vertical-align: bottom
	
.col-10
	width: 10%
.col-20
	width: 20%
.col-30
	width: 30%
.col-40
	width: 40%
.col-50
	width: 50%
.col-60
	width: 60%
.col-70
	width: 70%
.col-75
	width: 75%
.col-80
	width: 80%
.col-90
	width: 90%
.block-quarter
	width: 25%
.block-third
	width: 33.3%
.block-half
	width: 50%
.block-two-third
	width: 66.6%
.block-full
	width: 100%
	
.flex-col,
.flex-col-responsive,
.flex-row,
.flex
	@include flex-display()
	justify-content: flex-start

.flex
	@include flex(1)

.flex-row
	flex-direction: column

.flex-start
	justify-content: flex-start
.flex-end
	justify-content: flex-end
.flex-center
	justify-content: center

.flex-size-1
	@include flex(1)
.flex-size-2,
.flex-size-2-responsive
	@include flex(2)
.flex-size-3,
.flex-size-3-responsive
	@include flex(3)
.flex-size-4,
.flex-size-4-responsive
	@include flex(4)
.flex-size-5,
.flex-size-5-responsive
	@include flex(5)

.container-xs
	max-width: $mobile
.container-sm
	max-width: $tablet-sm
.container-md
	max-width: $tablet
.container-lg
	max-width: $standard
.container-xl
	max-width: $widescreen


/* Media Queries ================================ */
// @media only screen and (max-width: $widescreen - 1)

@media only screen and (max-width: $tablet-sm)
	.col
		display: block
		width: 100%