input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="search"],
textarea
	background: transparent
	border: none
	padding: 0
	outline: none
	font-size: 10pt
	@include transition-duration(0.3s)

input:hover,
textarea:hover
	// @include box-shadow(0 0 5px #9ecaed)
	// border-color: #4A90E2
	// background: $hover-bg-light-color

input[type="text"]:focus,
input[type="text"]:active,
input[type="password"]:focus,
input[type="password"]:active,
input[type="email"]:focus,
input[type="email"]:active,
textarea:active,
textarea:focus
	// @include box-shadow(inset 0 1px 1px #CCCCCC)
	// border-color: $separator-color
	// background: #FFFFFF