@mixin box-shadow( $shadow )
	-webkit-box-shadow: $shadow
	-moz-box-shadow: $shadow
	box-shadow: $shadow

@mixin flex( $ratio )
	-webkit-box-flex: $ratio      /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex: $ratio         /* OLD - Firefox 19- */
	-webkit-flex: $ratio          /* Chrome */
	-ms-flex: $ratio              /* IE 10 */
	flex: $ratio

@mixin flex-display()
	display: -webkit-box          /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box             /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox          /* TWEENER - IE 10 */
	display: -webkit-flex         /* NEW - Chrome */
	display: flex                 /* NEW, Spec - Opera 12.1, Firefox 20+ */

@mixin transition-duration( $time )
	-webkit-transition-duration: $time /* Safari */
	-o-transition: $time
	-moz-transition: $time
	transition-duration: $time
	
@mixin inline-block()
	display: inline-block
	margin-right: -5px
	margin-bottom: -5px

@mixin transform-skew( $deg )
	-webkit-transform: skewY($deg)
	-moz-transform: skewY($deg)
	-ms-transform: skewY($deg)
	-o-transform: skewY($deg)
	transform: skewY($deg)
	
@mixin transform-translate( $deg )
	-ms-transform: translateX($deg) translateY($deg)
	-moz-transform: translateX($deg) translateY($deg)
	-webkit-transform: translateX($deg) translateY($deg)
	transform: translateX($deg) translateY($deg)
	
// (x y) coordinates each
// top left, top right, bottom right, bottom left
@mixin skew( $top_left_xy, $top_right_xy, $bottom_right_xy, $bottom_left_xy )
	// (x y) coordinates
	-webkit-shape-outside: polygon($top_left_xy, $top_right_xy, $bottom_right_xy, $bottom_left_xy)
	shape-outside: polygon($top_left_xy, $top_right_xy, $bottom_right_xy, $bottom_left_xy)
	-webkit-clip-path: polygon($top_left_xy, $top_right_xy, $bottom_right_xy, $bottom_left_xy)
	clip-path: polygon($top_left_xy, $top_right_xy, $bottom_right_xy, $bottom_left_xy)
	
