.navbar
	position: relative
	height: $navbar-height
	z-index: $navbar-z-index
	width: $navbar-width
	background: $navbar-bg-color

.navbar.top
	position: absolute
	top: 0
	left: 0
	background: $navbar-top-bg-color
	
.navbar.fixed
	position: fixed
	top: 0
	background: $navbar-fixed-bg-color

.navbar.clear
	background: transparent !important
	
.navbar .main,
.navbar-right,
.navbar-responsive,
.navbar .main .brand,
.navbar .main .navlink,
.navbar-right .navlink,
.navbar-responsive .navlink
	position: relative
	@include inline-block()
	
.navbar .main
	width: $navbar-main-width
	vertical-align: top
	.navlink
		vertical-align: middle
	.brand
		max-width: $navbar-brand-width
		margin-top: $navbar-brand-margin-top
		margin-left: $navbar-brand-margin-left
		&.text-type
			margin-top: $navbar-brand-text-margin-top
		&.text-type a
			max-width: none
			color: $navbar-brand-text-color
			font-size: $navbar-brand-text-size
		&.text-type a:hover 
			text-decoration: none
.navbar-right
	width: $navbar-right-width
	vertical-align: top
	.navlink
		vertical-align: middle
.navbar-responsive
	display: none
	vertical-align: top
	width: $navbar-responsive-width
	.navlink
		margin: $navbar-responsive-navlink-margin-top $navbar-responsive-navlink-margin-right $navbar-responsive-navlink-margin-bottom $navbar-responsive-navlink-margin-left
		vertical-align: middle
		a
			color: $navbar-responsive-link-color
			font-size: $navbar-responsive-link-font-size
		.btn-dropdown
			cursor: pointer
			position: relative
			border-radius: $navbar-responsive-button-radius
			color: $navbar-responsive-button-text-color
			font-size: $navbar-responsive-button-font-size
			padding: $navbar-responsive-button-padding-top $navbar-responsive-button-padding-right $navbar-responsive-button-padding-bottom $navbar-responsive-button-padding-left
			margin: $navbar-responsive-button-margin-top $navbar-responsive-button-margin-right $navbar-responsive-button-margin-bottom $navbar-responsive-button-margin-left
			background: $navbar-responsive-button-bg-color
			border: $navbar-responsive-button-border
			@include transition-duration(0.3s)

.navbar-right,
.navbar-responsive
	text-align: right
	
.navbar .main > ul,
.navbar-right > ul,
.navbar-responsive > ul,
.navbar-dropdown > ul,
	margin: 0
	padding: 0
	list-style: none

.navlink
	margin: $navbar-navlink-margin-top $navbar-navlink-margin-right $navbar-navlink-margin-bottom $navbar-navlink-margin-left
	outline: none
	a
		color: $navbar-right-link-color
		padding: $navbar-right-link-padding-top $navbar-right-link-padding-right $navbar-right-link-padding-bottom $navbar-right-link-padding-left
		margin: $navbar-right-link-margin-top $navbar-right-link-margin-right $navbar-right-link-margin-bottom $navbar-right-link-margin-left
		font-size: $navbar-right-link-font-size
		text-decoration: none
		@include transition-duration(0.3s)
	a:hover
		color: $navbar-right-link-hover-color
		text-decoration: none
		// text-shadow: 0 0 1px rgba(0,0,0,0.7)
	a:hover,
	a:focus
		outline: none
	
.navbar-dropdown
	display: none
	position: fixed
	width: 100%
	height: 100%
	z-index: 99999
	top: 0
	text-align: $navbar-dropdown-text-align
	background: $navbar-bg-color
	.close
		font-size: $navbar-dropdown-exit-font-size
		text-align: right
		a
			color: white
			padding: $navbar-dropdown-exit-padding-top $navbar-dropdown-exit-padding-right $navbar-dropdown-exit-padding-bottom $navbar-dropdown-exit-padding-left
	.navlink
		display: block
		padding: $navbar-dropdown-navlink-padding-top $navbar-dropdown-navlink-padding-right $navbar-dropdown-navlink-padding-bottom $navbar-dropdown-navlink-padding-left
		margin: $navbar-dropdown-navlink-margin-top $navbar-dropdown-navlink-margin-right $navbar-dropdown-navlink-margin-bottom $navbar-dropdown-navlink-margin-left
		a
			color: $navbar-dropdown-navlink-color
			font-size: $navbar-dropdown-navlink-font-size

@media only screen and (max-width: $tablet)
	nav.navbar,
	nav.navbar.top
		.main
			width: $navbar-main-tablet-width
			// border: 1px solid red
		.navbar-right
			display: none
		.navbar-responsive
			display: inline-block
			width: $navbar-responsive-tablet-width
			// border: 1px solid red
		.brand
			max-width: 150px