.popup
	position: fixed
	bottom: 100%
	height: 100%
	width: 100%
	left: 0
	z-index: 1999999
	@include transition-duration(0.6s)
	
	.inner .container
		padding-top: 20px
		padding-bottom: 20px
	
	input	
		padding-left: 1px
		padding-right: 1px
		font-size: 12pt
		background: white
	
	.overlay
		background: rgba(0,0,0,0)
		@include transition-duration(0.4s)
		position: absolute
		top: 0
		left: 0
		height: 100%
		width: 100%
		z-index: 1999999
	
	.content
		position: relative
		max-width: 400px
		background: white
		border-radius: 3px
		z-index: 2000000
		// margin-bottom: 200px
		
	.close
		position: absolute
		top: 2px
		right: 5px
		a
			color: black
			font-size: 15pt