table
	width: 100%
	border-collapse: collapse
	
thead
	th
		text-align: left
	th:last-child
		// text-align: right
	tr
		border-bottom: 3px solid #E6E6E6

td,th
	padding: 15px 10px

tr td
	border-bottom: 1px solid #E6E6E6
tr td,
tr td:first-child
	text-align: left
tr td:last-child
	text-align: right

tbody tr:hover
	background: #E6E6E6
	color: black
	a
		color: $info-color