body
	font-family: $page-font
	color: $main-text-color
	font-size: $text-default-s

hr
	border: 0
	height: 0
	border-top: $hr-height solid $hr-color
	margin-bottom: $hr-bottom-margin

h1
	font-family: $heading-font
	font-size: $h1-s
	margin: $heading-margin-top $heading-margin-bottom $heading-margin-left $heading-margin-right
h2
	font-family: $heading-font
	font-size: $h2-s
	margin: $heading-margin-top $heading-margin-bottom $heading-margin-left $heading-margin-right
h3
	font-family: $heading-font
	font-size: $h3-s
	margin: $heading-margin-top $heading-margin-bottom $heading-margin-left $heading-margin-right
h4
	font-family: $heading-font
	font-size: $h4-s
	margin: $heading-margin-top $heading-margin-bottom $heading-margin-left $heading-margin-right
h5
	font-family: $heading-font
	font-size: $h5-s
	margin: $heading-margin-top $heading-margin-bottom $heading-margin-left $heading-margin-right
h6
	font-family: $heading-font
	font-size: $h6-s
	margin: $heading-margin-top $heading-margin-bottom $heading-margin-left $heading-margin-right

.text-xs
	font-size: $text-xs-s
.text-sm
	font-size: $text-sm-s
.text-default
	font-size: $text-default-s
.text-lg
	font-size: $text-lg-s
.text-xl
	font-size: $text-xl-s
.text-xxl
	font-size: $text-xxl-s
.text-xxxl
	font-size: $text-xxxl-s

.text-left
	text-align: left
.text-center
	text-align: center
.text-right
	text-align: right

.text-normal
	text-transform: none
.text-uppercase
	text-transform: uppercase
.text-capitalize
	text-transform: capitalize
.text-underline
	text-decoration: underline
	
.text-bold
	font-weight: bold
.text-bolder
	font-weight: bolder
	
.text-white
	color: white
.text-black
	color: black
.text-brand
	color: $brand-color
.text-comp
	color: $complement-color
.text-faded
	color: $faded-text-color
.text-info
	color: $info-color
.text-primary
	color: $primary-color
.text-success
	color: $success-color
.text-warning
	color: $warning-color
.text-danger
	color: $danger-color
	
.font-comp
	font-family: $complement-font
		
@media only screen and ( max-width: $tablet )
	h1
		font-size: $h1-responsive-s
	h2
		font-size: $h2-responsive-s
	h3
		font-size: $h3-responsive-s
	h4
		font-size: $h4-responsive-s
	h5
		font-size: $h5-responsive-s
	h6
		font-size: $h6-responsive-s