@import "_variables"
@import "_mixins"
@import "_typography"
@import "_image"
@import "_anchor"
@import "_button"
@import "_input"
@import "_select"
@import "_table"
@import "_list"
@import "_form"
@import "_grid"
@import "_popup"
@import "_navbar"

html, body
	height: 100%
	width: 100%
	padding: 0
	margin: 0

body
	position: relative

.test
	border: 1px solid red

.overlay
	background: rgba(0,0,0,0.2)

@media only screen and (max-width: $tablet)
	

@media only screen and (max-width: $tablet-sm)


@media only screen and (max-width: $mobile)